
.full-body {
  font-family: "Work Sans", sans-serif;
}
#head{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1900px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: #131313;
}
.nav-button{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
    line-height: 26px;
}
.header-text h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    max-width: 35%;
    margin: 0 auto;
    margin-top: 30px;
}
.header-text p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 26px;
    max-width: 55%;
    margin: 0 auto;
    margin-top: 20px;
}
.btn{
    display: flex;
    text-align: center;
    background-color: #FF900E;
    max-width: 180px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn a{
    padding: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
.header-image{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 30px;
}
.header-image img{
    width: 100%;
}

/* first main content start */
.first-main{
    display: flex;
    max-width: 1440px;
    margin-left: 150px;
    margin-top: 85px;
    align-items: center;
}
.teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.first-description{
    margin-left: 70px;
    
}

.first-description h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
    max-width: 450px;
}
.first-description p{
    max-width: 530px;
}
.b-2{
    margin-left: 0;
}

/* first main content end */


/* header responsive */
@media screen and (max-width:570px) {
   .nav, .first-main{
    flex-direction: column;
   }
   .nav-button{
    gap: 19px;
    margin-top: 10px; 
    margin-right: 50px;
   }

   .header-text h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
   }
   .header-text p{
    font-size: 1rem;
    line-height: 19px;
    margin-top: 10px;
   }
   .btn{
    margin-top: 10px;
    max-width: 150px;
    margin-bottom: 15px;
   }

   /* first main content responsive start */
   .teams{
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
   }
   .first-main{
    margin: 7px 0;
   }
   .first-description{
    margin-left: 10px;
   }
 
}