
.full-body {
  font-family: "Work Sans", sans-serif;
}
#head{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: #131313;
}
.nav-button{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
    line-height: 26px;
}
.header-text h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    max-width: 35%;
    margin: 0 auto;
    margin-top: 30px;
}
.header-text p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 26px;
    max-width: 55%;
    margin: 0 auto;
    margin-top: 20px;
}
.btn{
    display: flex;
    text-align: center;
    background-color: #FF900E;
    max-width: 180px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn a{
    padding: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
.header-image{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 30px;
}
.header-image img{
    width: 100%;
}

/* header responsive */
@media screen and (max-width:570px) {
   .nav{
    flex-direction: column;
   }
   .nav-button{
    gap: 19px;
    margin-top: 10px;
   }
   .header-text h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
   }
   .header-text p{
    font-size: 1rem;
    line-height: 19px;
    margin-top: 10px;
   }
   .btn{
    margin-top: 10px;
    max-width: 150px;
    margin-bottom: 15px;
   }
 
}