
.full-body {
  font-family: "Work Sans", sans-serif;
}
#head{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1900px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: #131313;
}
.nav-button{
    display: flex;
    list-style: none;
    gap: 40px;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
    line-height: 26px;
}
.header-text h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    max-width: 35%;
    margin: 0 auto;
    margin-top: 30px;
}
.header-text p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 26px;
    max-width: 55%;
    margin: 0 auto;
    margin-top: 20px;
}
.btn{
    display: flex;
    text-align: center;
    background-color: #FF900E;
    max-width: 180px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn a{
    padding: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
.header-image{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 30px;
}
.header-image img{
    width: 100%;
}

/* first main content start */
.first-main{
    display: flex;
    max-width: 1440px;
    margin-left: 150px;
    margin-top: 85px;
    align-items: center;
}
.teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.first-description{
    margin-left: 70px;
    
}

.first-description h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
    max-width: 450px;
}
.first-description p{
    max-width: 530px;
}
.b-2{
    margin-left: 0;
}

/* first main content end */

/* middle content style start */

.first-container{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 50px;
}
.card-container{
    margin-top: 30px;
}
.text-container h4{
    font-size: 2.8rem;
    max-width: 460px;
    border-left: 5px solid #FF900E;
    margin-bottom: 22px;
    padding-left: 20px;
    color: #131313;
}
.text-container p{
    max-width: 580px;
    line-height: 26px;
    color: #424242;
}
.text-card{
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 3px 20px 3px #727272;
    padding: 25px ;
}
.text-card h5{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #131313;
    max-width: 285px;
}
.text-card p{
    max-width: 514px;
    color: #727272;
}
.image-container{
    max-width: 800px;
    margin-top: 170px;
    margin-left: 140px;
}
.button-4th{
    background-color: #FF900E;
    padding: 45px 50px;
    margin-left: -100px;
    margin-top: -100px;
    border: none;
    border-radius: 10px;
}
.first-span{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
}
.second-span{
    color: #FFFFFF;
    font-size: 1.3rem;
}
/* middle content style end */


/* some facts content start */

.bach{
    margin-top: 130px;
   margin: 0 auto;
   max-width: 1389px;
}
.some-facts h4{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 22px;
}
.some-facts{
    max-width: 542px;
    color:#727272;
}

.bach-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    margin-left: 40px;
}
.bach-card{
    border: 2px solid black;
   border-radius: 10px;
   height: 240px ;
   width: 240px;
}
.bach-card img{
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
}
.bach-card h4{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 5px;
}
.bach-card p{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: -30px;
    color: #727272;
}




/* header responsive */
@media screen and (max-width:570px) {
   .nav, .first-main, .first-container{
    flex-direction: column;
   }
   .nav-button{
    gap: 15px;
    margin-top: 10px; 
    margin-right: 50px;
   }

   .header-text h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
   }
   .header-text p{
    font-size: 1rem;
    line-height: 19px;
    margin-top: 10px;
   }
   .btn{
    margin-top: 10px;
    max-width: 150px;
    margin-bottom: 15px;
   }



   /* first main content responsive start */
   .teams, .bach-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
   }
   .first-main{
    margin: 7px 0;
   }
   .first-description{
    margin-left: -50px;
    width: 100%;
    max-width: 280px;
   }
  .first-description h3{
    font-size: 2rem;
  }

     .image-container{
        margin:0 auto;
     }
    .text-container {
        max-width: 325px;
    }
   .image-container img{
    width: 100%;
    margin-right: 25px;
    margin-top: 5px;
   }
   .button-4th{
    margin-top: 5px;
    margin: 0 auto;
    margin-left: 50px;
   }
 /*card section resopnsive */
 .some-facts{
    max-width: 300px;
 }
}